.Home {
    margin: 0;
    padding: 0;
}

.mainContent {
    margin: 30px 30px;
    background-color: #2D374A;
    display: flex;
    justify-content: space-between;
}

.Weather {
    display: flex;
    justify-content: center;
    transform: scale(0.6);
}

.Graph {
    display: flex;
    flex-direction: column;
    padding: 0
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.timeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 8px;
    transition-duration: 0.4s;
    height: 25px;
    width: 140px;
    border-radius: 10px;
    font-family: 'Open Sans';
}

.buttonSelected {
    background-color: #35A2EB;
}